DATA LIST

In [6]:
#contoh list
L1=[1, 4, 2, 13]

print(type(L1))

<class 'list'>

In [7]:
L2=["a","phyton",3]

print(type(L2))

<class 'list'>

In [8]:
print(L1)
print(L2)

[1, 4, 2, 13]
['a', 'phyton', 3]

indeks di phyton(List,Tuple)mulai dari 0

SIFAT SIFAT LIST

In [9]:
#terurut/ordered
print("Memanggil List L1 dengan indeks urutan:", L1[0:3])

#Bisa diganti/mutable
L1[1]=2
print("List L1 setelah diganti elemennya:", L1)

L1 = [1,"dua", True, 2+3j]

#dapat diindeks/slicing
print("Slicing List L1:", L1[3])

#dapat diijikan publikasi
L1 = [1, "dua", True, 2+3j, 2+3j]
print("Duplikasi pada list L1:", L1)

#Dapat mengubah data dengan mengganti elemen tertentu
L1 = [1, "dua", True, 2+3j]
L1[2]=3
print("Data setelah diubah:", L1)

#Dapat menambahkan elemen baru pada data
L1 = [1, "dua", True, 2+3j]
L1.append(20)
print("Data setelah ditambahkan elemennya:", L1)

#dapat menghapus elemen pada data(remove() = menghapus berdasarkan nama objek)
L1 = [1, "dua", True, 2+3j]
L1.remove(2+3j)
print("Data setelah dihapus elemennya:", L1)

Memanggil List L1 dengan indeks urutan: [1, 4, 2]
List L1 setelah diganti elemennya: [1, 2, 2, 13]
Slicing List L1: (2+3j)
Duplikasi pada list L1: [1, 'dua', True, (2+3j), (2+3j)]
Data setelah diubah: [1, 'dua', 3, (2+3j)]
Data setelah ditambahkan elemennya: [1, 'dua', True, (2+3j), 20]
Data setelah dihapus elemennya: [1, 'dua', True]

In [12]:
#menambahkan data menggunakan fungsi extend(menambahkan elemen baru pada list namun elemen tersebut ditambahkan secaraindividual)

L1 = [1, "dua", True, 2+3j]
L1.extend("nanas")
print(L1)

[1, 'dua', True, (2+3j), 'n', 'a', 'n', 'a', 's']

In [13]:
L1 = [1, "dua", True, 2+3j]
L1.extend(["nanas"])
print(L1)

[1, 'dua', True, (2+3j), 'nanas']

In [16]:
#menambahkan data menggunakan fungsi insert(menambahkan elemen baru di list pada indeks tertentu)
L1 = [1, "dua", True,2+3j]
L1.insert(2, 5)
print(L1)

[1, 'dua', 5, True, (2+3j)]

In [17]:
#menghapus elemen dari list menggunakan fungsi pop() (menghapus berdasarkan indeks)
L1 = [1, "dua", True, 2+3j]
L1.pop(2)
print(L1)

[1, 'dua', (2+3j)]

In [18]:
L1 = [1, "dua", True, 2+3j]
L1.pop()
print(L1)

[1, 'dua', True]

Latihan

In [23]:
#contoh list
L1=[2, 6, 9, 18]

print(type(L1))

<class 'list'>

In [24]:
L2=["a","phyton",3]

print(type(L2))

<class 'list'>

In [25]:
print(L1)
print(L2)

[2, 6, 9, 18]
['a', 'phyton', 3]

In [28]:
#terurut/ordered
print("Memanggil List L1 dengan indeks urutan:", L1[0:3])

#Bisa diganti/mutable
L1[1]=2
print("List L1 setelah diganti elemennya:", L1)

L1 = [2,"tiga", True, 2+3j]

#dapat diindeks/slicing
print("Slicing List L1:", L1[3])

#dapat diijikan publikasi
L1 = [2, "tiga", True, 2+3j, 2+3j]
print("Duplikasi pada list L1:", L1)

#Dapat mengubah data dengan mengganti elemen tertentu
L1 = [2, "tiga", True, 2+3j]
L1[2]=3
print("Data setelah diubah:", L1)

#Dapat menambahkan elemen baru pada data
L1 = [2, "tiga", True, 2+3j]
L1.append(20)
print("Data setelah ditambahkan elemennya:", L1)

#dapat menghapus elemen pada data(remove() = menghapus berdasarkan nama objek)
L1 = [2, "tiga", True, 2+3j]
L1.remove(2+3j)
print("Data setelah dihapus elemennya:", L1)

Memanggil List L1 dengan indeks urutan: [1, 'tiga', True]
List L1 setelah diganti elemennya: [1, 2, True, (2+3j), 'k', 'e', 'r', 'b', 'a', 'u']
Slicing List L1: (2+3j)
Duplikasi pada list L1: [2, 'tiga', True, (2+3j), (2+3j)]
Data setelah diubah: [2, 'tiga', 3, (2+3j)]
Data setelah ditambahkan elemennya: [2, 'tiga', True, (2+3j), 20]
Data setelah dihapus elemennya: [2, 'tiga', True]

In [29]:
#menambahkan data menggunakan fungsi extend(menambahkan elemen baru pada list namun elemen tersebut ditambahkan secaraindividual)

L1 = [2, "tiga", True, 2+3j]
L1.extend("kerbau")
print(L1)

[2, 'tiga', True, (2+3j), 'k', 'e', 'r', 'b', 'a', 'u']

In [31]:
L1 = [2, "tiga", True, 2+3j]
L1.extend(["kerbau"])
print(L1)

[2, 'tiga', True, (2+3j), 'kerbau']

In [32]:
#menambahkan data menggunakan fungsi insert(menambahkan elemen baru di list pada indeks tertentu)
L1 = [2, "tiga", True,2+3j]
L1.insert(2, 5)
print(L1)

[2, 'tiga', 5, True, (2+3j)]

In [33]:
#menghapus elemen dari list menggunakan fungsi pop() (menghapus berdasarkan indeks)
L1 = [2, "tiga", True, 2+3j]
L1.pop(2)
print(L1)

[2, 'tiga', (2+3j)]

In [34]:
L1 = [2, "tiga", True, 2+3j]
L1.pop()
print(L1)

[2, 'tiga', True]

Struktur data tuple

In [5]:
#contoh tuple
T1 = (1, "dua", True, 1+2j)
print("ini adalah tuple", T1)

ini adalah tuple (1, 'dua', True, (1+2j))

In [6]:
T11 = 1, "dua", True, 1+2j
print("ini adalah tuple", T11)

ini adalah tuple (1, 'dua', True, (1+2j))

In [7]:
#Menampilkan tipe struktur data
type(T1)
print("ini adalah tuple", T11)

ini adalah tuple (1, 'dua', True, (1+2j))

In [8]:
#Menampilkan tipe struktur data
type(T1)

tuple

In [9]:
type(T11)

tuple

In [10]:
#Sifat Sifat Tuple

#terurut/ordered
T1[0:3]

(1, 'dua', True)

In [11]:
#Tidak bisa diganti
T1[2] = "manusia"

TypeError: ignored

In [12]:
#dapat diindeks/slicing
print("elemen kedua dari tuple T1 adalah: ", T1[1])

elemen kedua dari tuple T1 adalah:  dua

In [13]:
#dapat diijinkan duplikasi
T2 = (3, 2.4, True, 2.4)
T2

(3, 2.4, True, 2.4)

In [14]:
#tidak dapat menambahkan elemen baru
T1 = (1, "dua", True, 1+2j)
print(f' tuple\t: {T1}')

 tuple	: (1, 'dua', True, (1+2j))

In [15]:
T1.append(10)
T1.append(50)
print(f' tuple\t: {T1}')

AttributeError: ignored

In [16]:
#Tidak dapat menghapus elemen
T1 = (1, "dua", True, 1+2j)
print(f' tuple\t: {T1}')

 tuple	: (1, 'dua', True, (1+2j))

In [17]:
T1.remove(1)
T1.remove("dua")
print(f' tuple\t: {T1}')

AttributeError: ignored

In [18]:
#menggabungkan tuple
T3 = T1 + T2
T3

(1, 'dua', True, (1+2j), 3, 2.4, True, 2.4)

Latihan

In [21]:
#latihan tuple
T1 = (2, "tiga", True, 1+2j)
print("ini latihan tuple", T1)

ini latihan tuple (2, 'tiga', True, (1+2j))

In [22]:
T11 = 2, "dua", True, 1+2j
print("ini latihan tuple", T11)

ini latihan tuple (2, 'dua', True, (1+2j))

In [23]:
#Menampilkan tipe struktur data
type(T1)
print("ini latihan tuple", T11)

ini latihan tuple (2, 'dua', True, (1+2j))

In [24]:
#Menampilkan tipe struktur data
type(T1)

tuple

In [25]:
type(T11)

tuple

In [26]:
#Sifat Sifat Tuple

#terurut/ordered
T1[0:3]

(2, 'tiga', True)

In [27]:
#dapat diindeks/slicing
print("elemen kedua dari tuple T1 adalah: ", T1[1])

elemen kedua dari tuple T1 adalah:  tiga

In [29]:
#dapat diijinkan duplikasi
T2 = (4, 2.5, True, 2.5)
T2

(4, 2.5, True, 2.5)

In [30]:
#tidak dapat menambahkan elemen baru
T1 = (2, "tiga", True, 1+2j)
print(f' tuple\t: {T1}')

 tuple	: (2, 'tiga', True, (1+2j))

In [31]:
#Tidak dapat menghapus elemen
T1 = (2, "tiga", True, 1+2j)
print(f' tuple\t: {T1}')

 tuple	: (2, 'tiga', True, (1+2j))

In [32]:
#menggabungkan tuple
T3 = T1 + T2
T3

(2, 'tiga', True, (1+2j), 4, 2.5, True, 2.5)